<style>
    body {
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    aside {
        text-align: left;
        padding: 20px;
    }

    section {
        margin-bottom: 30px; /* Add space between sections */
    }

    .section-title {
        color: #ffffff;
        font-size: 27px; /* Adjust the font size as needed */
        margin-bottom: 10px;
    }

    .content {
        color: #dcd7d7;
    }

</style>

<aside>
    <section>
        <h2 class="section-title">1. ACCEPTANCE OF TERMS</h2>
        <div class="content">
            <p>
                By using Tony Tunnel VPN services, you agree to comply with and
                be bound by these Terms and Conditions. If you do not agree to
                these terms, please do not use our services.
            </p>
        </div>
    </section>

    <section>
        <h2 class="section-title">2. USER RESPONSIBILITIES</h2>
        <div class="content">
            <p>
                <strong>2.1. Account Information:</strong> You are responsible
                for maintaining the confidentiality of your account information
                and password. Tony Tunnel VPN is not liable for any unauthorized
                use of your account.<br />
                <strong>2.2. Prohibited Activities:</strong> You agree not to
                engage in any unlawful or prohibited activities while using our
                services, including but not limited to hacking, spamming, or any
                activity that violates the law.
            </p>
        </div>
    </section>

    <section>
        <h2 class="section-title">3. PRIVACY POLICY</h2>
        <div class="content">
            <p>
                <strong>3.1. Data Collection:</strong> Tony Tunnel VPN respects
                your privacy. We collect minimal data necessary for service
                provision and adhere to our Privacy Policy. Please review our
                Privacy Policy for more information.<br />
                <strong>3.2. Log Files:</strong> We may collect and log
                connection data for troubleshooting and optimizing our service.
                However, we follow a strict no-logs policy regarding your online
                activities.
            </p>
        </div>
    </section>

    <section>
        <h2 class="section-title">4. SERVICE AVAILABILITY</h2>
        <div class="content">
            <p>
                <strong>4.1. Downtime:</strong> Tony Tunnel VPN strives to
                provide uninterrupted service. However, we do not guarantee
                continuous, uninterrupted access to our services and are not
                liable for any downtime.<br />
                <strong>4.2. Server Changes:</strong> We reserve the right to
                add, modify, or remove servers without prior notice to optimize
                performance or address security concerns.
            </p>
        </div>
    </section>

    <section>
        <h2 class="section-title">5. PAYMENT AND SUBSCRIPTIONS</h2>
        <div class="content">
            <p>
                <strong>5.1. Payment:</strong> Subscriptions are billed in
                advance and are non-refundable. You are responsible for all
                charges incurred under your account.<br />
                <strong>5.2. Cancellation:</strong> You can cancel your
                subscription at any time, and the cancellation will be effective
                at the end of the current billing period.
            </p>
        </div>
    </section>

    <section>
        <h2 class="section-title">
            6. DISCLAIMERS AND LIMITATION OF LIABILITY
        </h2>
        <div class="content">
            <p>
                <strong>6.1. No Warranty:</strong> Tony Tunnel VPN is provided
                "as is" without warranties of any kind, either express or
                implied.<br />
                <strong>6.2. Limitation of Liability:</strong> Tony Tunnel VPN
                is not liable for any indirect, incidental, special,
                consequential, or punitive damages.
            </p>
        </div>
    </section>

    <section>
        <h2 class="section-title">7. AMENDMENTS</h2>
        <div class="content">
            <p>
                Tony Tunnel VPN reserves the right to amend these Terms and
                Conditions at any time. Changes will be effective upon posting
                on our website. It is your responsibility to review these Terms
                regularly.
            </p>
        </div>
    </section>

</aside>
